
<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("IMG-20190410-WA0022.jpg", class: "first-slide")  %>
        <div class="container">
          <div class="carousel-caption">
            <%= render 'banner_text' %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("IMG-20190410-WA0020.jpg", class: "second-slide")  %>
        <div class="container">
          <div class="carousel-caption">
            <%= render 'banner_text' %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("IMG-20190516-WA0013.jpg", class: "third-slide")  %>
        <div class="container">
          <div class="carousel-caption">
            <%= render 'banner_text' %>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-xs-12 offset-md-3 col-md-6  text-center">
        <%= image_tag("IMG-20190516-WA0014.jpg", class: "rounded-circle")  %>
        <h2 id="sobre">Quem Somos</h2>
        <h4 class="text-justify body-text"> A <strong> College Sports Authority </strong> é uma consultoria especializada em assessorar estudantes-atletas para os processos seletivos de universidades dos Estados Unidos, e os acompanha durante suas trajetórias universitárias, oferecendo suporte e criando oportunidades de desenvolvimento pessoal e profissional.</h4>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="section-divider">
      <h2 class="text-center">Caminho para a faculdade</h2>
    </div>
    <div class="row featurette">
      <div class="col-md-7 text-justify body-text">
        <h4> <strong> Orientação para que o estudante desenvolva suas habilidades </strong> e apresentação, a fim de se tornar o melhor candidato para avaliação das universidades escolhidas, maximizando suas chances de ser aceito. Suporte durante o processo de admissão, como: identificação de pré-requisitos e prazos, planejamento de envio de documentos, conferência e envio dos pacotes de candidatura. Acompanhamento durante os quatro anos de faculdade com orientações para situações do dia a dia e suporte à adaptação intercultural. </h4>
      </div>
      <div class="col-md-5">
        <%= image_tag("graduation.jpg", class: "featurette-image img-fluid mx-auto")  %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <%= image_tag("Natacao 1.jpg", class: "featurette-image img-fluid mx-auto")  %>
      </div>
      <div class="col-md-7 text-justify body-text">
        <h4> <i class="fas fa-trophy"></i> Seleção das opções de universidades mais adequadas ao perfil do atleta, buscando oportunidades de bolsas de estudos. </h4>
         <h4> <i class="fas fa-trophy"></i> Orientação para que o atleta se prepare adequadamente para ser apresentado para os treinadores das universidades selecionadas. </h4>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5 text-justify body-text">
        <h4 class="fatores"> <strong> O valor da bolsa dependerá de alguns fatores: </strong> </h4> 
        <ul class="li-items">
          <li> <i class="fas fa-basketball-ball"></i> - Desempenho esportivo </li>
          <li> <i class="fas fa-baseball-ball"></i> - Nota nos exames de admissão (TOEFEL/SAT) </li>
          <li> <i class="fas fa-futbol"></i> - Histórico escolar </li>
          <li> <i class="fas fa-football-ball"></i> - Disponibilidade financeira da família </li>
        </ul>

      </div>
      <div class="col-md-7">
        <%= image_tag("Volleyball 3.jpeg", class: "featurette-image img-fluid mx-auto")  %>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <%= image_tag("Tennis 2.jpg", class: "featurette-image img-fluid mx-auto")  %>
      </div>
      <div class="col-md-5 text-justify body-text">
        <h4> <strong> Vantagens de fazer faculdade nos EUA: </strong> </h4> 
        <ul class="li-items vantagens">
          <li> <i class="fas fa-trophy"></i> - Líder de sistema de ensino, com universidades conhecidas em nível mundial. </li>
          <li> <i class="fas fa-trophy"></i> - Universidades com os melhores recursos para desenvolver seu talento. </li>
          <li> <i class="fas fa-trophy"></i> - Maior facilidade de acesso ao mercado de trabalho graças ao prestígio das universidades e à experiência internacional. </li>
          <li> <i class="fas fa-trophy"></i> - Bolsas por meio de prática de esportes. </li>
          <li> <i class="fas fa-trophy"></i> - Experiência única no país mais aberto e desenvolvido do mundo.</li>
          <li> <i class="fas fa-trophy"></i> - Domínio de inglês, o idioma mais importante do mundo. </li>
        </ul>

      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row section-divider">
      <div class="col-xs-12 offset-md-2 col-md-8  text-center">
        <h2>Aonde Estudar?</h2>
        <%= image_tag("college_map.jpg", class: "map-img")  %>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider">

    <h4 class="col-xs-12 offset-md-3 col-md-6  text-center section-divider">Últimos Tweets sobre College Sports!</h4>

    <div class="row">
      <% @tweets.each do |tweet| %>
        <div class="col-xs-12 col-md-6">
          <div class="college-news">
            <div class="card">
              <%= twitter_parser tweet %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <hr class="featurette-divider">

      <h2 class="text-center">Parceiros:</h2>
      <div class="parceiros">
        <div class="row parceiros-img-center">
          <div class="col-xs-12">
            <img class="parceiros-img" src="http://daquiprafora.com.br/wp-content/themes/dpf/image/logo-daquiprafora.png" style="background-color: blue;">
          </div>
          <div class="col-xs-12">
            <img class="parceiros-img"  src="https://wilsonloja.com.br/skin/frontend/athlete/default/images/logo.png">
          </div>
          <div class="col-xs-12">
            <img class="parceiros-img"  src="http://www.delucaeleaosports.com.br/wp-content/uploads/2017/04/DeLucaeLealSportsLogo.jpg">
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.col-lg-4 -->

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>

